gdown
numpy
pandas
Pillow
scikit_learn
supervision
transformers
ultralytics
umap
umap-learn
sentencepiece
opencv-python

# For CUDA 11.8
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

# For CUDA 12.1
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121